@import 'pwa-colors.scss';

.reveal .slides section {
  .target-capacities {
    position: absolute;
    transform: rotateZ(270deg);
    font-size: 2em;
    left: -1em;
    color: gray;
    top: 50%;
  }

  .target-touch {
    position: absolute;
    font-size: 2em;
    color: gray;
    text-align: center;
    width: 100%;
  }

  .target-touch {
    position: absolute;
    font-size: 2em;
    color: gray;
    text-align: center;
    width: 100%;
  }

  img:not(.speaker) {
    padding: 25px;
  }
  img.red {
    background: $red;
  }
  img.green {
    background: $green;
  }
  img.blue {
    background: $blue;
  }
  img.purple {
    background: $purple;
  }
}
