@import 'pwa-colors.scss';

.reveal .slides section {

    .target-capacities {
        position: absolute;
        transform: rotateZ(270deg);
        font-size: 2em;
        left:-1em;
        color: gray;
        top: 50%;
    }

    .target-touch {
        position: absolute;
        font-size: 2em;
        color: gray;
        text-align: center;
        width: 100%;
    }

    img[alt*=border-circle] {
        border-radius: 300px;
        border-color: $light-grey;
        border-style: solid;
        border-width: 25px;
    }
    img[alt*=border-circle][alt*=red] {
        background: $red;
    }
    img[alt*=border-circle][alt*=green] {
        background: $green;
    }
    img[alt*=border-circle][alt*=blue] {
        background: $blue;
    }
    img[alt*=border-circle][alt*=purple] {
        background: $purple;
    }
}

