.center{
    text-align: center;
}

.reveal .slides section.sfeir-basic-slide .center-big {
    text-align: center;
    font-size: 2.5em;
    color:black;
}
.reveal .slides section.sfeir-basic-slide h1.center-big {
    font-size: 3em;
}


/**
Specifics
*/

// 12_definition.md 


.target-capacities {
    position: absolute;
    transform: rotateZ(270deg);
    font-size: 2em;
    color: gray;
    top: 50%;
}

.target-touch {
    position: absolute;
    font-size: 2em;
    color: gray;
    text-align: center;
    width: 100%;
}

.reveal section img[alt*=border-circle] {
    border-radius: 300px;
    border-color: grey;
    border-style: solid;
    border-width: 25px;
}
.reveal section img[alt*=border-circle][alt*=red] {
    background: red;
}
.reveal section img[alt*=border-circle][alt*=green] {
    background: green;
}
.reveal section img[alt*=border-circle][alt*=blue] {
    background: blue;
}
.reveal section img[alt*=border-circle][alt*=purple] {
    background: purple;
}