@import 'pwa-colors.scss';

.center{
    text-align: center;
}

.reveal .slides section .big-text{
    font-size: 3em;
}

.reveal .slides section.sfeir-basic-slide .center-big {
    text-align: center;
    font-size: 2.5em;
    color:black;
}
.reveal .slides section.sfeir-basic-slide h1.center-big {
    font-size: 3em;
}


.reveal .slides section.with-code pre.big-code:not(.literal),
.reveal .slides section.with-code-dark pre.big-code:not(.literal) {
    position: relative;
    top:0;
}

/**
Specifics
*/


@import '12_definition.scss';
@import '20_fiabilite.scss';