@charset "UTF-8";
/**
 * Sfeir Override theme for reveal.js.

 * By Jean-François Garreau : jefBinomed
 */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  src: url('../fonts/Consolas.ttf');
}

@font-face {
  font-family: 'Consolas';
  src: url('../fonts/Consolaz.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}

.reveal {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal .slides section.with-code h1,
.reveal .slides section.with-code h2 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
  font-weight: 600;
}

/**
* Custom Properties
*/
:root {
  --code-bg: #3f3f3f;
  --light-grey: #ddd;
  --white: white;
  --medium-grey: #817c7c;
  --black: #333;
  --dark-grey: #3d4349;
  --dark-grey-alpha: rgba(61, 67, 73, 0.7);
  --red: #e74c3c;
  --sfeir-orange: #e7552b;
  --sfeir-blue: #0b4269;
}

/**
* Custom Properties
*/
:root {
  --backgroundColor: #fff;
  --mainFont: Montserrat, sans-serif;
  --mainFontSize: 40px;
  --mainColor: #0b4269;
  --blockMargin: 20px;
  --headingMargin: 0 0 20px 0;
  --headingFont: Montserrat, Impact, sans-serif;
  --headingColor: #e7552b;
  --headingLineHeight: 1.2;
  --headingLetterSpacing: normal;
  --headingTextTransform: uppercase;
  --headingTextShadow: none;
  --headingFontWeight: normal;
  --heading1TextShadow: none;
  --heading1Size: 3.77em;
  --heading2Size: 2.11em;
  --heading3Size: 1.55em;
  --heading4Size: 1em;
  --linkColor: #1155cc;
  --linkColorHover: #528cf1;
  --selectionBackgroundColor: rgba(140, 191, 240, 0.8);
  --selectionColor: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #fff;
}

.reveal {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #0b4269;
}

::selection {
  color: #fff;
  background: rgba(140, 191, 240, 0.8);
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: rgba(140, 191, 240, 0.8);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #e7552b;
  font-family: 'Montserrat', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 3.77em;
}

.reveal h2 {
  font-size: 2.11em;
}

.reveal h3 {
  font-size: 1.55em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
  font-family: monospace;
  text-transform: none;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 1000px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
  text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #1155cc;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: #528cf1;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #0b3885;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #0b4269;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #1155cc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #1155cc;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #1155cc;
}

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff;
  }
}

/*
*
* MIXINS
**/
img[alt*='h-50'],
.h-50,
.h-50 + * {
  height: 50px;
}

img[alt*='w-50'],
.w-50,
.w-50 + * {
  width: 50px;
}

img[alt*='h-100'],
.h-100,
.h-100 + * {
  height: 100px;
}

img[alt*='w-100'],
.w-100,
.w-100 + * {
  width: 100px;
}

img[alt*='h-150'],
.h-150,
.h-150 + * {
  height: 150px;
}

img[alt*='w-150'],
.w-150,
.w-150 + * {
  width: 150px;
}

img[alt*='h-200'],
.h-200,
.h-200 + * {
  height: 200px;
}

img[alt*='w-200'],
.w-200,
.w-200 + * {
  width: 200px;
}

img[alt*='h-250'],
.h-250,
.h-250 + * {
  height: 250px;
}

img[alt*='w-250'],
.w-250,
.w-250 + * {
  width: 250px;
}

img[alt*='h-300'],
.h-300,
.h-300 + * {
  height: 300px;
}

img[alt*='w-300'],
.w-300,
.w-300 + * {
  width: 300px;
}

img[alt*='h-350'],
.h-350,
.h-350 + * {
  height: 350px;
}

img[alt*='w-350'],
.w-350,
.w-350 + * {
  width: 350px;
}

img[alt*='h-400'],
.h-400,
.h-400 + * {
  height: 400px;
}

img[alt*='w-400'],
.w-400,
.w-400 + * {
  width: 400px;
}

img[alt*='h-450'],
.h-450,
.h-450 + * {
  height: 450px;
}

img[alt*='w-450'],
.w-450,
.w-450 + * {
  width: 450px;
}

img[alt*='h-500'],
.h-500,
.h-500 + * {
  height: 500px;
}

img[alt*='w-500'],
.w-500,
.w-500 + * {
  width: 500px;
}

img[alt*='h-550'],
.h-550,
.h-550 + * {
  height: 550px;
}

img[alt*='w-550'],
.w-550,
.w-550 + * {
  width: 550px;
}

img[alt*='h-600'],
.h-600,
.h-600 + * {
  height: 600px;
}

img[alt*='w-600'],
.w-600,
.w-600 + * {
  width: 600px;
}

img[alt*='h-650'],
.h-650,
.h-650 + * {
  height: 650px;
}

img[alt*='w-650'],
.w-650,
.w-650 + * {
  width: 650px;
}

img[alt*='h-700'],
.h-700,
.h-700 + * {
  height: 700px;
}

img[alt*='w-700'],
.w-700,
.w-700 + * {
  width: 700px;
}

img[alt*='h-750'],
.h-750,
.h-750 + * {
  height: 750px;
}

img[alt*='w-750'],
.w-750,
.w-750 + * {
  width: 750px;
}

img[alt*='h-800'],
.h-800,
.h-800 + * {
  height: 800px;
}

img[alt*='w-800'],
.w-800,
.w-800 + * {
  width: 800px;
}

img[alt*='h-850'],
.h-850,
.h-850 + * {
  height: 850px;
}

img[alt*='w-850'],
.w-850,
.w-850 + * {
  width: 850px;
}

img[alt*='h-900'],
.h-900,
.h-900 + * {
  height: 900px;
}

img[alt*='w-900'],
.w-900,
.w-900 + * {
  width: 900px;
}

img[alt*='h-950'],
.h-950,
.h-950 + * {
  height: 950px;
}

img[alt*='w-950'],
.w-950,
.w-950 + * {
  width: 950px;
}

img[alt*='h-1000'],
.h-1000,
.h-1000 + * {
  height: 1000px;
}

img[alt*='w-1000'],
.w-1000,
.w-1000 + * {
  width: 1000px;
}

img[alt*='hm-50'],
.hm-50,
.hm-50 + * {
  max-height: 50px;
}

img[alt*='wm-50'],
.wm-50,
.wm-50 + * {
  max-width: 50px;
}

img[alt*='hm-100'],
.hm-100,
.hm-100 + * {
  max-height: 100px;
}

img[alt*='wm-100'],
.wm-100,
.wm-100 + * {
  max-width: 100px;
}

img[alt*='hm-150'],
.hm-150,
.hm-150 + * {
  max-height: 150px;
}

img[alt*='wm-150'],
.wm-150,
.wm-150 + * {
  max-width: 150px;
}

img[alt*='hm-200'],
.hm-200,
.hm-200 + * {
  max-height: 200px;
}

img[alt*='wm-200'],
.wm-200,
.wm-200 + * {
  max-width: 200px;
}

img[alt*='hm-250'],
.hm-250,
.hm-250 + * {
  max-height: 250px;
}

img[alt*='wm-250'],
.wm-250,
.wm-250 + * {
  max-width: 250px;
}

img[alt*='hm-300'],
.hm-300,
.hm-300 + * {
  max-height: 300px;
}

img[alt*='wm-300'],
.wm-300,
.wm-300 + * {
  max-width: 300px;
}

img[alt*='hm-350'],
.hm-350,
.hm-350 + * {
  max-height: 350px;
}

img[alt*='wm-350'],
.wm-350,
.wm-350 + * {
  max-width: 350px;
}

img[alt*='hm-400'],
.hm-400,
.hm-400 + * {
  max-height: 400px;
}

img[alt*='wm-400'],
.wm-400,
.wm-400 + * {
  max-width: 400px;
}

img[alt*='hm-450'],
.hm-450,
.hm-450 + * {
  max-height: 450px;
}

img[alt*='wm-450'],
.wm-450,
.wm-450 + * {
  max-width: 450px;
}

img[alt*='hm-500'],
.hm-500,
.hm-500 + * {
  max-height: 500px;
}

img[alt*='wm-500'],
.wm-500,
.wm-500 + * {
  max-width: 500px;
}

img[alt*='hm-550'],
.hm-550,
.hm-550 + * {
  max-height: 550px;
}

img[alt*='wm-550'],
.wm-550,
.wm-550 + * {
  max-width: 550px;
}

img[alt*='hm-600'],
.hm-600,
.hm-600 + * {
  max-height: 600px;
}

img[alt*='wm-600'],
.wm-600,
.wm-600 + * {
  max-width: 600px;
}

img[alt*='hm-650'],
.hm-650,
.hm-650 + * {
  max-height: 650px;
}

img[alt*='wm-650'],
.wm-650,
.wm-650 + * {
  max-width: 650px;
}

img[alt*='hm-700'],
.hm-700,
.hm-700 + * {
  max-height: 700px;
}

img[alt*='wm-700'],
.wm-700,
.wm-700 + * {
  max-width: 700px;
}

img[alt*='hm-750'],
.hm-750,
.hm-750 + * {
  max-height: 750px;
}

img[alt*='wm-750'],
.wm-750,
.wm-750 + * {
  max-width: 750px;
}

img[alt*='hm-800'],
.hm-800,
.hm-800 + * {
  max-height: 800px;
}

img[alt*='wm-800'],
.wm-800,
.wm-800 + * {
  max-width: 800px;
}

img[alt*='hm-850'],
.hm-850,
.hm-850 + * {
  max-height: 850px;
}

img[alt*='wm-850'],
.wm-850,
.wm-850 + * {
  max-width: 850px;
}

img[alt*='hm-900'],
.hm-900,
.hm-900 + * {
  max-height: 900px;
}

img[alt*='wm-900'],
.wm-900,
.wm-900 + * {
  max-width: 900px;
}

img[alt*='hm-950'],
.hm-950,
.hm-950 + * {
  max-height: 950px;
}

img[alt*='wm-950'],
.wm-950,
.wm-950 + * {
  max-width: 950px;
}

img[alt*='hm-1000'],
.hm-1000,
.hm-1000 + * {
  max-height: 1000px;
}

img[alt*='wm-1000'],
.wm-1000,
.wm-1000 + * {
  max-width: 1000px;
}

/**
* IMAGE
*
*/
.reveal .slides > section img[alt*='center'],
.reveal .slides > section .center,
.reveal .slides > section .center + * {
  display: block;
  margin: auto;
}

.reveal .slides > section img[alt*='full-width'],
.reveal .slides > section .full-width,
.reveal .slides > section .full-width + * {
  width: 100%;
  max-width: 100%;
}

.reveal .slides > section .full-height {
  height: 100%;
  max-height: 100%;
}

.reveal .slides > section img[alt*='float-left'],
.reveal .slides > section .float-left {
  float: left;
  margin-right: 40px;
}

.reveal .slides > section img[alt*='float-right'],
.reveal .slides > section .float-right {
  float: right;
  margin-left: 10px;
}

/**
* Alignments & Layouts
*/
.reveal .slides > section.full-center p,
.reveal .slides > section :not(section).full-center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides > section.flex-row p,
.reveal .slides > section :not(section).flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/**
* Globals overrides to change the layout of slides
*/
.reveal ol,
.reveal dl,
.reveal ul {
  line-height: 1.5em;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal .slides section li p {
  font-size: 100%;
}

.reveal .slides section p {
  font-size: 1em;
}

.reveal .slides section[data-type-show='full'] p {
  font-size: 100%;
}

.reveal .slides section p + p {
  margin-top: 40px;
}

.reveal .slides section:not(.sfeir-specific-slide),
.reveal .slides section.sfeir-basic-slide,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 {
  width: 100%;
  height: calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  text-align: left;
  font-size: 1em;
}
.reveal .slides section:not(.sfeir-specific-slide) h1,
.reveal .slides section:not(.sfeir-specific-slide) h2,
.reveal .slides section.sfeir-basic-slide h1,
.reveal .slides section.sfeir-basic-slide h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h2 {
  text-transform: initial;
  text-align: center;
  color: #e7552b;
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 25px;
  margin-left: 5px;
}
.reveal .slides section:not(.sfeir-specific-slide) h1,
.reveal .slides section:not(.sfeir-specific-slide) h2,
.reveal .slides section:not(.sfeir-specific-slide) h3,
.reveal .slides section.sfeir-basic-slide h1,
.reveal .slides section.sfeir-basic-slide h2,
.reveal .slides section.sfeir-basic-slide h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h1,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h3 {
  text-transform: initial;
  margin-bottom: 50px;
}
.reveal .slides section:not(.sfeir-specific-slide) h1 ~ h2,
.reveal .slides section:not(.sfeir-specific-slide) h2 ~ h3,
.reveal .slides section:not(.sfeir-specific-slide) h1 ~ h3,
.reveal .slides section.sfeir-basic-slide h1 ~ h2,
.reveal .slides section.sfeir-basic-slide h2 ~ h3,
.reveal .slides section.sfeir-basic-slide h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-1 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-2 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-3 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-4 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-5 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-6 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-7 h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-white-8 h1 ~ h3 {
  text-transform: initial;
  margin-top: -30px;
  padding-left: 30px;
  color: #0b4269;
  font-size: 1em;
}

.reveal blockquote::before {
  content: '\“';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.reveal blockquote::after {
  content: '\”';
  position: absolute;
  bottom: -0.5em;
  right: -0.5em;
  width: 50px;
  height: 50px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 1em;
  text-align: left;
  font-style: italic;
  background: white;
  color: #0b4269;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

/**
* Two Columns slides
*/
.reveal .slides section.two-column-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px auto;
}
.reveal .slides section.two-column-layout section:first-child {
  grid-row-start: 1;
  opacity: 1;
}
.reveal .slides section.two-column-layout section:nth-child(2) {
  grid-row-start: 2;
  grid-column-end: 2;
  opacity: 1;
}
.reveal .slides section.two-column-layout section:last-child {
  grid-row-start: 2;
  grid-column-start: 2;
  opacity: 1;
}

/**
* Reset Somes styles
*/
.reveal section img {
  margin: initial;
  background: initial;
  border: initial;
  box-shadow: initial;
}

/**
* Custom Properties
*/
:root {
  --code-bg: #3f3f3f;
  --light-grey: #ddd;
  --white: white;
  --medium-grey: #817c7c;
  --black: #333;
  --dark-grey: #3d4349;
  --dark-grey-alpha: rgba(61, 67, 73, 0.7);
  --red: #e74c3c;
  --sfeir-orange: #e7552b;
  --sfeir-blue: #0b4269;
}

/**
* First Slide of Sfeir School
*/
.reveal .slides section[data-background].first-slide {
  position: absolute;
  color: white;
  background: transparent;
}
.reveal .slides section[data-background].first-slide h1,
.reveal .slides section[data-background].first-slide h2,
.reveal .slides section[data-background].first-slide h3 {
  color: white;
  text-transform: initial;
}
.reveal .slides section[data-background].first-slide h1 {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 800;
}
.reveal .slides section[data-background].first-slide h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.reveal .slides section[data-background].first-slide div.sfeir-logo {
  position: relative;
  width: 500px;
  height: 600px;
  max-width: 500px;
  max-height: 600px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
}
.reveal .slides section[data-background].first-slide div.sfeir-logo::before {
  color: #0b4269;
  position: absolute;
  content: attr(data-sfeir-techno);
  text-transform: uppercase;
  font-weight: 800;
  top: 280px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.reveal .slides section[data-background].first-slide div.sfeir-logo::after {
  content: '';
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 200px;
  left: 0;
}
.reveal .slides section[data-background].first-slide div.sfeir-logo[data-sfeir-level='1']:after {
  background: url('../images/star.png');
  background-repeat: no-repeat;
  background-position: 50% 40px;
  background-size: 55px;
}
.reveal .slides section[data-background].first-slide div.sfeir-logo[data-sfeir-level='2']:after {
  background: url('../images/star.png'), url('../images/star.png');
  background-position: calc(50% - 35px) 40px, calc(50% + 35px) 40px;
  background-repeat: no-repeat;
  background-size: 55px;
}
.reveal .slides section[data-background].first-slide div.sfeir-logo[data-sfeir-level='3']:after {
  background: url('../images/star.png'), url('../images/star.png'), url('../images/star.png');
  background-position: calc(50% - 35px) 25px, calc(50% + 35px) 25px, 50% 65px;
  background-repeat: no-repeat;
  background-size: 55px;
}
.reveal .slides section[data-background].first-slide.first-red div.sfeir-logo::before,
.reveal .slides section[data-background].first-slide.first-pink div.sfeir-logo::before {
  color: #e7552b;
}

.reveal .slides section[data-background].speaker-slide {
  text-transform: inherit;
}
.reveal .slides section[data-background].speaker-slide h1 {
  text-transform: inherit;
  margin-top: 0;
}
.reveal .slides section[data-background].speaker-slide h2 {
  text-transform: inherit;
  text-align: left;
  color: #0b4269;
  font-weight: 800;
  line-height: 2em;
  height: 2em;
  font-size: 1.8em;
  margin-top: 150px;
  padding-left: 550px;
  margin-bottom: 20px;
}
.reveal .slides section[data-background].speaker-slide h3 {
  text-transform: inherit;
  text-align: left;
  padding-left: 550px;
  font-size: 1.2em;
  color: #817c7c;
  margin-bottom: 20px;
}
.reveal .slides section[data-background].speaker-slide img[alt*='speaker'] {
  position: absolute;
  left: 100px;
  top: 300px;
  width: 400px;
  margin-top: 20px;
}
.reveal .slides section[data-background].speaker-slide img[alt*='company'] {
  max-width: 400px;
  max-height: 200px;
}
.reveal .slides section[data-background].speaker-slide img[alt*='badge'] {
  position: absolute;
  top: 400px;
  right: 200px;
  max-width: 300px;
  max-height: 300px;
}

.reveal .slides section[class*='transition'],
.reveal .slides section.sfeir-basic-slide[class*='transition'],
.reveal .slides section.sfeir-specific-slide[class*='transition'] {
  background: rgba(0, 0, 0, 0);
}
.reveal .slides section[class*='transition'] h1,
.reveal .slides section.sfeir-basic-slide[class*='transition'] h1,
.reveal .slides section.sfeir-specific-slide[class*='transition'] h1 {
  color: #e7552b;
  margin-top: 650px;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 40px;
  text-transform: initial;
}

.reveal .slides section[class*='transition-white'] h1,
.reveal .slides section.sfeir-basic-slide[class*='transition-white'] h1,
.reveal .slides section.sfeir-specific-slide[class*='transition-white'] h1 {
  color: white;
  font-weight: 600;
}

.reveal .slides section[class*='transition-center'] h1,
.reveal .slides section.sfeir-basic-slide[class*='transition-center'] h1,
.reveal .slides section.sfeir-specific-slide[class*='transition-center'] h1 {
  margin-top: 450px;
  text-align: left;
}

.with-code-dark {
  /*

Darcula color scheme from the JetBrains family of IDEs

*/
}
.with-code-dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}
.with-code-dark .hljs {
  color: #bababa;
}
.with-code-dark .hljs-strong,
.with-code-dark .hljs-emphasis {
  color: #a8a8a2;
}
.with-code-dark .hljs-bullet,
.with-code-dark .hljs-quote,
.with-code-dark .hljs-link,
.with-code-dark .hljs-number,
.with-code-dark .hljs-regexp,
.with-code-dark .hljs-literal {
  color: #6896ba;
}
.with-code-dark .hljs-code,
.with-code-dark .hljs-selector-class {
  color: #a6e22e;
}
.with-code-dark .hljs-emphasis {
  font-style: italic;
}
.with-code-dark .hljs-keyword,
.with-code-dark .hljs-selector-tag,
.with-code-dark .hljs-section,
.with-code-dark .hljs-attribute,
.with-code-dark .hljs-name,
.with-code-dark .hljs-variable {
  color: #cb7832;
}
.with-code-dark .hljs-params {
  color: #b9b9b9;
}
.with-code-dark .hljs-string {
  color: #6a8759;
}
.with-code-dark .hljs-subst,
.with-code-dark .hljs-type,
.with-code-dark .hljs-built_in,
.with-code-dark .hljs-builtin-name,
.with-code-dark .hljs-symbol,
.with-code-dark .hljs-selector-id,
.with-code-dark .hljs-selector-attr,
.with-code-dark .hljs-selector-pseudo,
.with-code-dark .hljs-template-tag,
.with-code-dark .hljs-template-variable,
.with-code-dark .hljs-addition {
  color: #e0c46c;
}
.with-code-dark .hljs-comment,
.with-code-dark .hljs-deletion,
.with-code-dark .hljs-meta {
  color: #7f7f7f;
}

.reveal .backgrounds div.slide-background.with-code-dark {
  background-color: #3f3f3f;
}

.reveal .slides section.with-code pre,
.reveal .slides section.with-code-dark pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-family: monospace;
  line-height: 1.4em;
  word-wrap: break-word;
}
.reveal .slides section.with-code pre code,
.reveal .slides section.with-code-dark pre code {
  display: block;
  padding: 10px;
  overflow: auto;
  max-height: 600px;
  word-wrap: normal;
  font-size: 0.7em;
  font-family: monospace;
  margin-bottom: 20px;
}
.reveal .slides section.with-code pre code span,
.reveal .slides section.with-code-dark pre code span {
  line-height: 1.5em;
}

.reveal .slides section.with-code pre.big-code:not(.literal),
.reveal .slides section.with-code-dark pre.big-code:not(.literal) {
  position: absolute;
  top: 20vh;
}
.reveal .slides section.with-code pre.big-code:not(.literal) code,
.reveal .slides section.with-code-dark pre.big-code:not(.literal) code {
  font-size: 1.5em;
  line-height: 2.1em;
}

.reveal .slides section.with-code.consolas pre,
.reveal .slides section.with-code.consolas pre code,
.reveal .slides section.with-code-dark.consolas pre,
.reveal .slides section.with-code-dark.consolas pre code {
  font-family: 'Consolas';
}

.reveal .slides section.with-code.inconsolata pre,
.reveal .slides section.with-code.inconsolata pre code,
.reveal .slides section.with-code-dark.inconsolata pre,
.reveal .slides section.with-code-dark.inconsolata pre code {
  font-family: 'Inconsolata';
}

.reveal .slides section.school-presentation .wifi {
  font-weight: 800;
  text-align: left;
  padding: 100px;
}
.reveal .slides section.school-presentation .wifi .key {
  text-transform: uppercase;
}
.reveal .slides section.school-presentation .wifi span:not(.key) {
  color: #e7552b;
}

.reveal .backgrounds div.slide-background.transition[data-background-hash].no-filter::before {
  background-color: rgba(0, 0, 0, 0);
}

.reveal .backgrounds div.slide-background.transition[data-background-hash*='png']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='PNG']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Png']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='jpg']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='JPG']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Jpg']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='jpeg']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='JPEG']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Jpeg']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='gif']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='GIF']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Gif']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='svg']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='SVG']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Svg']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='bmp']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='BMP']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Bmp']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='webp']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='WEBP']::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*='Webp']::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}

/*
.with-code {
    @import "../../../node_modules/highlight.js/styles/tomorrow";
}
.with-code-dark {
    @import "../../../node_modules/highlight.js/styles/darcula";
}
*/

/*# sourceMappingURL=sfeir-school-theme.css.map */
