.extend-toolbar{
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.people-random.animation-hide{
	transition: 0.3s linear all;
	opacity: 0;
}

.people-random.animation-show{
	transition: 0.3s linear all;
	opacity: 1;
}

.people-list.ng-hide{
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.people-list:not(.ng-hide){
	transition: 0.3s linear all;
	-webkit-transform: translateY(-300px);
	transform: translateY(-300px);
}

.people-card-list.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}
.people-card-list.ng-leave.ng-leave-active {
  opacity:0;
}

.people-card-list.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}

.people-card-list.ng-enter.ng-enter-active {
  opacity:1;
}
