@font-face {
  font-family: 'Open Sans';
  src: url("font/regular.eot");
  src: url("font/regular.eot?#iefix") format("embedded-opentype"),
  url("font/regular.woff") format("woff"),
  url("font/regular.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

/* app css stylesheet */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA !important;
}

label{
  font-weight: normal;
}

.people-side button, .people-side input{
  width: 100%;
}

.people-images {
  border-radius: 1em;
}

.people {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 35px;
}

.people-name {
   margin-bottom: 20px;
}

.thumb {
  width: 100%;
  border: 10px solid #F1F1F1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.people li {
  height: 110px;
  min-width: calc(100px + 12em);
}

/** Detail View **/
ul.people-thumbs {
  margin: 0;
  list-style: none;
}

ul.people-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.people-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.people-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

body > header a {
  color: black;
}
body > header a:hover {
  text-decoration: initial;
}

article > header h1 {
  font-size: 20pt;
  display: inline;
}
article > header a {
  font-size: 15pt;
}

header {
  background: url('../img/bg_left.png') no-repeat left, url('../img/bg_right.png') no-repeat right;
  background-color: #0168AB;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  z-index: 3;
  height: 175px;
  position: fixed;
  width: 100%;
}


article section {
  float: left;
  padding: 0 2em;
  height: 340px;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px silver;
}

section > h1 {
  font-size: 14pt;
}

#skills ul{
  padding: 0;
}

#skills li{
  display: inline;
  padding: 0 6pt;
  margin: 1px;
  border-radius: 10pt;
  border: 1px solid silver;
  background-color: #eee;
  list-style: none;
}
#skills li:first-child{
  font-weight: normal;
}

/* LIST PEOPLE */
.people-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.people-card-list .mdl-card{
  margin-bottom: 10px;
}

.people-card-list .mdl-card a[href^=mailto],
.people-card-list .mdl-card a[href^=tel]{
  font-size:15px;
}

.people-card-list .mdl-card .mdl-card__media{
  width: 100px;
}

.people-card-list .first{
  box-shadow: 0px 1px 3px 0px #0168AB, 0px 1px 1px 0px #0168AB, 0px 2px 1px -1px #0168AB;
}

.people-card-list md-card-title, .people-random md-card-title, .people-list-all md-card-title{
  min-height: 200px;
}

.people-random, .people-list-all, .people-list, .people-detail, .view-frame{
  background-color: #FAFAFA;
}

.people-random .mdl-card{
  margin: auto;
  width: 500px;
}

.people-list-all, .people-detail, .people-random {
 padding-top: 175px;
}

.mdl-card label.fullscreen-button {
  position: absolute;
  right: 0;
}

/*TOOLBAR MENU*/
.toolbar-menu{
  height: 100%;
  margin: 0px 10px 0px 10px;
  border-bottom: 2px solid transparent;
}

.toolbar-menu:not(.active):hover{
  border-bottom: 2px solid white;
}

.toolbar .md-toolbar-tools > h1{
  height: 100%;
}

.toolbar .md-toolbar-tools h1{
  font-size: 0.8em;
}

.toolbar .md-toolbar-tools img{
  height: 100%;
  margin-left: -90px;
}
/* EXTEND TOOLBAR */

.search-toolbar {
  top: 0;
  position: fixed;
  margin-top: 75px;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}

.min.extend-toolbar{
    height: 150px;
}

.people-list-loading{
  height: 200px;
}

.people-random h1{
  text-align: center;
  padding: 10px;
}

/* PEOPLE INFO */
.people-detail{
  min-height: 650px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0); /* pour probleme index iphone */
}

@media screen and (max-width: 720px) {
  .first-info-people a{
    padding: 0px;
  }
}

.background-md-card{
  background-color: '#E84FOE';
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.26);
}

.tab-information li{
  display: inline;
}
.tab-information li:first-child{
  font-weight: bold;
}
.tab-information md-content{
  background-color: rgba(0,0,0,.05);
}
.information-footer{
  border-top: 1px solid rgba(0,0,0,0.12);
}

/* SKILL */
#skills .skillActive{
  background-color: #E84F0E;
}

/* FAB */
#shellToolbar{
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 200;
}
#installButton.mdl-button{
  display: none;
}

#installButton.mdl-button.show{
  display: block;
}

/* SUBSCRIPTION */
#subscribeButton {
  display: none !important;
}

#subscribeButton.show{
  display: block;
}

#subscribeButton.show .unsubscribe, #subscribeButton.show.subscribe .subscribe{
  display: block;
}

#subscribeButton.show .subscribe, #subscribeButton.show.subscribe .unsubscribe{
  display: none !important;
}
