md-toolbar:not(.md-menu-toolbar){
  background-color: transparent;
  color: white;
  position: fixed;
  z-index: 10;
}

md-card{
  border-radius: 0px;
}

/*champs de recherche*/
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: white;
}

md-input-container:not(.md-input-invalid) .md-input,
md-input-container:not(.md-input-invalid) .md-input-has-value{
	color: white;
}

md-input-container label:not(.md-container-ignore){
  bottom: 55%!important;
  color: white;
}

md-input-container:not(.md-container-ignore).md-input-focused label{
	color: white;
}

md-input-container .md-input{
  width: 100%;
  font-size: 44px;
  height: 56px !important;
  border-color: white;

}

md-input-container {
  margin-left: 20px;
}

.extend-toolbar md-input-container.md-has-icon{
  margin: 18px 10px;
}

.view-frame md-input-container > md-icon{
	height: 40px;
  width: 40px;
  top: 15px;
  left: -10px;
  color: white;
  fill: currentColor;
}

.view-frame md-input-container:not(.md-input-invalid).md-input-focused md-icon{
  color: white;
  fill: currentColor;
}

.view-frame md-input-container .md-errors-spacer{
	display: none;
}

nav.mdl-navigation a, nav.mdl-navigation a:visited{
  color:white;
}

.mdl-layout a {
  color: #337ab7;
}


header.mdl-layout__header{
  background-color: #0268ab;
}

div.mdl-textfield_expandable-holder {
  max-width: 100%;
}
