.reveal pre code {
  max-height: 1000px;
}

.reveal .slides section[data-background].speaker-slide img[alt*='speaker'] {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.reveal .slides section[data-background].speaker-slide img[alt*='company'] {
  position: absolute;
  top: 300px;
  left: 750px;
}

.reveal .slides section.with-code pre code,
.reveal .slides section.with-code-dark pre code {
  max-height: 900px;
}
