.reveal .slides section .center {
  text-align: center;
}
.reveal .slides section .big-text {
  font-size: 3em;
}
.reveal .slides section.sfeir-basic-slide .center-big {
  text-align: center;
  font-size: 2.5em;
  color: black;
}
.reveal .slides section.sfeir-basic-slide h1.center-big {
  font-size: 3em;
}
.reveal .slides section.with-code pre.big-code:not(.literal), .reveal .slides section.with-code-dark pre.big-code:not(.literal) {
  position: relative;
  top: 0;
}
.reveal .slides section img[alt*=full-width-screen] {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.reveal .slides section img[alt*=bottom] {
  position: absolute;
  bottom: 0;
  left: 0;
}

/**
Specifics
*/
.reveal .slides section .target-capacities {
  position: absolute;
  transform: rotateZ(270deg);
  font-size: 2em;
  left: -1em;
  color: gray;
  top: 50%;
}
.reveal .slides section .target-touch {
  position: absolute;
  font-size: 2em;
  color: gray;
  text-align: center;
  width: 100%;
}
.reveal .slides section .target-touch {
  position: absolute;
  font-size: 2em;
  color: gray;
  text-align: center;
  width: 100%;
}
.reveal .slides section img:not([alt=speaker]) {
  padding: 25px;
}
.reveal .slides section img[alt*=red] {
  background: #dd311f;
}
.reveal .slides section img[alt*=green] {
  background: #249f5a;
}
.reveal .slides section img[alt*=blue] {
  background: #314ffe;
}
.reveal .slides section img[alt*=purple] {
  background: #773f9b;
}

.reveal .slides section .https .flex-col {
  display: flex;
  flex-direction: column;
}
.reveal .slides section .https h2 {
  color: #333;
  text-align: left;
  padding: 0;
}
.reveal .slides section .https hr {
  height: 20px;
  width: 100%;
  box-shadow: 2px 2px 5px #212121;
}
.reveal .slides section .https hr.blue {
  background: #314ffe;
}
.reveal .slides section .https hr.red {
  background: #dd311f;
}
.reveal .slides section .https hr.green {
  background: #249f5a;
}
.reveal .slides section .grid-worker {
  color: white;
  display: grid;
  grid-template-columns: 50%;
  grid-template-areas: "a b" "c d";
  width: 100%;
  height: 100%;
  text-align: center;
}
.reveal .slides section .grid-worker h1 {
  color: white;
  text-transform: uppercase;
}
.reveal .slides section .grid-worker .cell-1,
.reveal .slides section .grid-worker .cell-2,
.reveal .slides section .grid-worker .cell-3,
.reveal .slides section .grid-worker .cell-4 {
  justify-self: center;
  padding-top: 100px;
}
.reveal .slides section .grid-worker .cell-1 {
  grid-area: a;
}
.reveal .slides section .grid-worker .cell-2 {
  grid-area: b;
}
.reveal .slides section .grid-worker .cell-3 {
  grid-area: c;
}
.reveal .slides section .grid-worker .cell-4 {
  grid-area: d;
}

.reveal .slides section.no-margin h1 {
  margin-top: 20px;
}

.reveal .slides section h1.border-orange {
  padding: 30px;
  background: orange;
}

.reveal .slides section.mariane h1 {
  position: absolute;
  bottom: 500px;
  width: 100%;
  color: white;
}

.reveal .slides section.with-code.max-height pre code {
  max-height: 800px;
}

/*# sourceMappingURL=slides.css.map */
